In [2]:
#Strings : collection of characters/ group of characters

In [3]:
'''
Types of declaring strings
single quotes('')
double quotes("")
triple quotes(''' ''')
'''

'\nTypes of declaring strings\nsingle quotes(\'\')\ndouble quotes("")\ntriple quotes()\n'

In [4]:
'''
String Methods
Lower() : convert into lowercase strings
Upper() : converts into uppercase
Endswith() : checks string endswith
Startswith() : checks string starts with
Replace() : to replace string with old or new
Split(): string to convert to list 
Count() : to count words or single character
Rstrip(): rightside triming space
Lstrip() : left triming space
Strip() : triming space
removeprefix() : removing prefix
removesurfix(): removing sufix
Index(): if we dont have index then it gives error
find(): it gives 1
'''

'\nString Methods\nlower()\nupper()\nendswith()\nstartswith()\nreplace()\ncount()\nRstrip()\nLstrip()\nStrip()\nremoveprefix()\nremovesurfix()\nIndex()\nfind()\n'

In [9]:
b = 'pythonlife'
a ="pythonlife"
v = '''pythonlife''' # for multiple line strings we use triple quotes
print(type(b),type(a), type(v))

<class 'str'> <class 'str'> <class 'str'>

In [18]:
pythonlife ="please like and share"
print(pythonlife.upper())
print(pythonlife.lower())
Topic = "python strings"
print(Topic.endswith("rings"))
print(Topic.startswith("py"))

PLEASE LIKE AND SHARE
please like and share
True
True

In [21]:
course = "Python"
print(course.replace("Python","Python Programming Language"))

Python Programming Language

In [25]:
pythonlife ="Python language"
print(pythonlife.index("Python"))
print(pythonlife.index("on"))

0
4

In [23]:
pythonlife ="Python language"
print(pythonlife.find("Python"))

0

In [24]:
pythonlife ="Python language"
print(pythonlife.find("language"))

7

In [31]:
pythonlife ="python language"
print(pythonlife.count('g'))

2

In [32]:
print(pythonlife.removeprefix("python"))

 language

In [33]:
print(pythonlife.removeprefix("age"))

python language

In [34]:
print(pythonlife.removesuffix("age"))

python langu

In [37]:
pythonlife ="pythonlanguage"
print(pythonlife)

pythonlanguage

In [38]:
print(len(pythonlife))

14

In [43]:
pythonlife ="     pythonlanguage        "
print(pythonlife)
print(pythonlife.strip())
print(pythonlife.rstrip())
print(pythonlife.lstrip())

     pythonlanguage
pythonlanguage
     pythonlanguage
pythonlanguage

In [46]:
'''
list : used by square braces []
mutable data type is nothing but changable
store different types of elements: int, strings, bollean...etc
allow duplicates : inside [] it allows duplicate values
allow indexing : starts with forword indexing o and negative indexing is starts with -1 nothing but elements postion in []
slicing we can do using indexing
slicing will be like  [start: stop : skip]
methods in lists: append, extend, remove, pop, count, index
'''

'\nlist : used by square braces []\nmutable data type is nothing but changable\nstore different types of elements: int, strings, bollean...etc\nallow duplicates : inside [] it allows duplicate values\nallow indexing : starts with forword indexing o and negative indexing is starts with -1 nothing but elements postion in []\nslicing we can do using indexing\nslicing will be like  [start: stop : skip]\nmethods in lists: append, extend, remove, pop, count, index\n'

In [48]:
'''
list
'''
v = [1, 32, 323,1.4, 23, 'anuhsa', '1+2i',True]
print(v)

[1, 32, 323, 1.4, 23, 'anuhsa', '1+2i', True]

In [49]:
print(v[-1])

True

In [50]:
print(v[0:4:3]) # starts with 0 and count address 4th postion and skip by 2 postions

[1, 1.4]

In [53]:
v = [1,23,45,56,2.9, '3+9j']
print(v)
v.append('sri')
print(v)

[1, 23, 45, 56, 2.9, '3+9j']
[1, 23, 45, 56, 2.9, '3+9j', 'sri']

In [54]:
v.extend([True,False, 3.5])
print(v.count(1))

2

In [65]:
v.remove(1)
print(v)
v.insert(0,22)
print(v)

[56, 2.9, '3+9j', 'sri', True, False, 3.5]
[22, 56, 2.9, '3+9j', 'sri', True, False, 3.5]

In [56]:
v.pop(1) # using index it removes value in indes at 1

45

In [57]:
print(v.index(2.9))

2

In [61]:
for i in [1,24,1,4,1544, 5,'kiran']:
    print(i)

1
24
1
4
1544
5
kiran

In [67]:
'''
Tuple : indicated by ()
allow different types of elements
allow duplicates
allow index and slicing
Immutable: we cont modify data
No methods we can use builtin
builtin methoods like max, min etc
a = (1,2,3,4, ' triangle', False)
Tuple operations
Concatenation : we can add two tuples 
t1 = (1,2)
t2 =(2,3)
print(t1+t2)
for i in t1:
print(i)
Iteration: 
Membership operations
identity operations
repetation
'''

"\nTuple : indicated by ()\nallow different types of elements\nallow duplicates\nallow index and slicing\nImmutable: we cont modify data\nNo methods we can use builtin\nbuiltin methoods like max, min etc\na = (1,2,3,4, ' triangle', False)\nTuple operations\nConcatenation\nIteration\nMembership operations\nidentity operations\nrepetation\n"

In [68]:
a = (1,2,3,4, ' triangle', False)
print(len(a))

6

In [70]:
t1 = (1,2)
t2 =(2,3)
print(t1+t2)
for i in t1:
    print(i)

(1, 2, 2, 3)
1
2

In [71]:
c = ()
print(type(c))

<class 'tuple'>

In [72]:
c =(1,24,1,3,14,14,'kiran')
print(c[-1]) # indiexing

kiran

In [73]:
print(c[0:4:2]) #slicing possible

(1, 1)

In [79]:
c =(1,24,1,3,14,14)
print(min(c))
print(max(c))
print(sum(c))
print(len(c))

1
24
57
6

In [80]:
t1 =(1,2,3)
t2 =(4,5,6)
print(t1+t2) # concatenation

(1, 2, 3, 4, 5, 6)

In [83]:
c =(1,24,1,3,14,14)
print(c*11) # repetation
print(c*2)

(1, 24, 1, 3, 14, 14, 1, 24, 1, 3, 14, 14, 1, 24, 1, 3, 14, 14, 1, 24, 1, 3, 14, 14, 1, 24, 1, 3, 14, 14, 1, 24, 1, 3, 14, 14, 1, 24, 1, 3, 14, 14, 1, 24, 1, 3, 14, 14, 1, 24, 1, 3, 14, 14, 1, 24, 1, 3, 14, 14, 1, 24, 1, 3, 14, 14)
(1, 24, 1, 3, 14, 14, 1, 24, 1, 3, 14, 14)

In [84]:
c =(1,24,1,3,14,14)
for i in c: # iteration in tuple possible
    print(i)

1
24
1
3
14
14

In [85]:
print(11 not in c) # membership operator

True

In [86]:
t1 =(1,2,3)
t2 = (4,5,6)
print(t1 is t2)

False

In [87]:
print(t1 is not t2)

True

In [88]:
'''
Dictionary in python
Dictionary is nothing but a one datatype is indicated by {}
key value date (k: v) # k is nothing but key and v is nothing but value
a ={'a': 123, 1:"abc"}
a is key and 123 is value for a
abc is value of 1
key should be immutable
value should be mutable (different types)
keys will act as index
no slicing
keys are unique
Dictionary methods: 
get()
update()
values()
keys()
items()

'''

'\nDictionary in python\nDictionary is nothing but a one datatype is indicated by {}\nkey value date (k: v) # k is nothing but key and v is nothing but value\na ={\'a\': 123, 1:"abc"}\na is key and 123 is value for a\nabc is value of 1\nkey should be immutable\nvalue should be mutable (different types)\nkeys will act as index\nno slicing\nkeys are unique\n\n'

In [89]:
#dictionary
d = {}
print(type(d))

<class 'dict'>

In [91]:
d = {1:'abc', 22: 'kiran', 'pythonlife':1}
print(d[22]) # using keys

kiran

In [92]:
d ={1:'abc', 22:'kiran', 'pythonlife':1}
print(d.get(1))

abc

In [93]:
print(d.keys())

dict_keys([1, 22, 'pythonlife'])

In [94]:
print(d.values())

dict_values(['abc', 'kiran', 1])

In [95]:
print(d.items())

dict_items([(1, 'abc'), (22, 'kiran'), ('pythonlife', 1)])

In [96]:
d.update({11111:2222})

In [97]:
print(d)

{1: 'abc', 22: 'kiran', 'pythonlife': 1, 11111: 2222}

In [98]:
for i in {1: 'abc', 22: 'kiran', 'pythonlife': 1, 11111: 2222}:
    print(i)

1
22
pythonlife
11111

In [102]:
for i in {1: 'abc', 22: 'kiran', 'pythonlife': 1, 11111: 2222}:
    print(i)

1
22
pythonlife
11111

In [106]:
'''
Sets
sets is defined by {}
do not allow duplicates
No Index, un ordered
Do not allow mutable types as set elements
Set methods:

add()
update()
pop()
remove()

set operations:

union()
intersection()
difference()
isubset()
issuperset()
'''

'\nSets\nsets is defined by {}\ndo not allow duplicates\nNo Index, un ordered\nDo not allow mutable types as set elements\nSet methods:\n\nadd()\nupdate()\npop()\nremove()\n\nset operations:\n\nunion()\nintersection()\ndifference()\nisubset()\nissuperset()\n'

In [107]:
s = {}
print(type(s))

<class 'dict'>

In [110]:
R = {2,7, 42, 5, 25, 2, 5, 55, 1, 0,4}
print(R) # no duplicates in sets and also it is unordered

{0, 1, 2, 4, 5, 7, 42, 55, 25}

In [121]:
R.update({1,2,3,4,5})
print(R) # adding bulk data
R.pop() # it remove unordered
R.remove(2) # it removes particular element 42

{1, 2, 3, 4, 5, 7, 55, 25}

In [118]:
set1 = {1,2,3}
set2 = {4,5,6}
print(set1.union(set2))

{1, 2, 3, 4, 5, 6}

In [120]:
print(set1.intersection(set2))

set()

In [122]:
print(set1.difference(set2))

{1, 2, 3}

In [123]:
print(set1.issuperset(set2))

False

In [124]:
print(set2.issuperset(set2))

True

In [125]:
for i in {1,2,3,4}:
    print(i)

1
2
3
4