In [1]:
# varaible = value
a=10
print(a)

10

In [2]:
a,b,c =1
print(a,b,c)

<class 'TypeError'>: cannot unpack non-iterable int object

In [3]:
a,b,c =1,3,4
print(a,b,c)

1 3 4

In [4]:
# can we pass multiple varaibles in single pass
c =1,2,3
print(c)

(1, 2, 3)

In [7]:
c = v= x=22
print(c)
print(v)
print(x)

22
22
22

In [8]:
'''
1. alphabets
2. number symbols no
3. _start
4. case sensitive
'''

'\n1. alphabets\n2. number symbols no\n3. _start\n4. case sensitive\n'

In [9]:
_abc =3
print(_abc)

3

In [10]:
abc4343 =3
print(abc4343)

3

In [11]:
abc4343 =3
# to get varable address we use id method
print(id(abc4343))

2810916

In [13]:
# python is casesensitive
# in example pythonlife means same but writen in lowercase and uppercase indication for varable
pythonlife =1
PYTHONLIFE =11
print(pythonlife)# we are calling lowercase
print(PYTHONLIFE) # we are calling uppercase

1
11